<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>画像データを送る</title>
  <script src="https://unpkg.com/petite-vue" defer init></script>
</head>

<body v-scope="dataset()">
  <p>
    <input type="file" accept=".png, .jpg, .jpeg" @change="onFileChange"/>
    <figure v-if="preview">
      <img :src="preview" height="200" />
    </figure>
  </p>
  <p>
    <button @click="fetchData">画像を送信</button>
  </p>

  <pre v-if="data">{{ JSON.stringify(data, null, 2) }}</pre>
</body>

<script>
  function dataset() {
    return {
      file: null,
      preview: null,
      data: null,

      onFileChange(e) {
        this.file = e.target.files[0];
        if (this.file) {
          this.preview = URL.createObjectURL(this.file);
        }
      },
      
      async fetchData() {
        if (!this.file) {
          window.alert('画像ファイルを選んでください');
          return;
        }
        const body = new FormData();
        body.append('image', this.file, this.file.name);

        const url = 'https://httpbin.org/post';
        const res = await fetch(url, {
          method: 'POST',
          body
        });

        this.data = await res.json();
        console.log(JSON.stringify(this.data, null, 2));
      }
    }
  }
</script>
</html>
